
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--slate-700);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .navbar__logo {
    color: var(--slate-300);
    font-weight: 700;
  }
  
  .navbar__result {
    color: var(--slate-400);
  }
  
  .navbar .heart {
    position: relative;
    color: var(--rose-500);
  }
  .navbar .heart .icon {
    width: 2rem;
    height: 2rem;
  }
  .navbar .heart .badge {
    font-size: 0.9rem;
    position: absolute;
    top: 0;
    right: -6px;
    display: inline-block;
    background-color: var(--rose-500);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px;
  }
  